/*need visited text color & to center horizontal nav bar & to make it work on mobile & check URL*/

html{
  font-size:100%;
}

p{
  color:black;
  font-family:"Fanwood Text", Georgia, "Times New Roman", serif;
  font-size:1rem;
  line-height:1.5rem;
  text-align: center;
}

.italic{
  font-style:italic;
}
h1 {
  font-family:"Quattrocento", "Times New Roman", serif;
  text-align: center;
}

h1{
  font-size:2.5rem;
  color:#5D2E46;
}
h4{
  font-size:1.5rem;
  font-family:"Fanwood Text", Georgia, "Times New Roman", serif;
  text-align: center;
}
.bold{
  font-weight: bold;
}
body{
  background-color:#E8D6CB;
}

#nav li{
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
}

#nav a:link{
  display: block;
  color:#231B23;
  background-color:#D0ADA7;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:Helvetica, Arial, sans-serif;
}

#nav a:visited {
  color:#E8D6CB;
}

#nav a:hover, #nav a:active{
  background-color:#AD6A6C;
}

#nav{
  padding:0;
}

img{
  display: block;
  border-style:none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

#nav {
  	display: flex;
  	flex-direction: column;
  }

  @media (min-width: 600px) {
  	#nav {
  		flex-direction: row;
  		justify-content: center;
  	}
  }

  .container {
  	display: flex;
  	flex-direction: column;
  }
